package {{ package }};

{% for item in imports %}
import {{ item }};
{% endfor %}
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Pattern;

/**
 * @ClassName: {{ className }}
 * @Description: {{ description }}
 * @author {{ author }}
 * @date {{ date }}
 * @since version 1.0WW
 */
public class {{ className }} extends BaseModel{
    {% for field in fields %}
    {%- if  field.pattern  -%}
    public static final String {{field.dbField}}_PATTERN = "{{ field.pattern }}";
    public static final String {{field.dbField}}_PATTERN_MESSAGE = "{{ field.patternMessage }}";{% endif %}
    {% if  field.requiredMessage  -%}public static final String {{field.dbField}}_REQUIRED_MESSAGE = "{{ field.requiredMessage }}";{%- endif -%}
    {% endfor %}

    {% for field in fields %}{% if not field.isBaseField  %}
    /**
     * {{ field.comments }}
     */
    {% if  field.required  %}@NotNull{%- endif -%}
    {%- if  field.pattern  -%}@Pattern(regexp={{field.dbField}}_PATTERN,message={{field.dbField}}_PATTERN_MESSAGE){% endif %}
    private {{ field.type }} {{ field.name }};
    {%- endif -%}{%- endfor -%}

    {% for field in fields %}{% if not field.isBaseField  %}
    public void set{{ field.upperName }}({{ field.type }} {{ field.name }}){
        this.{{ field.name }} = {{ field.name }};
    }
    public {{ field.type }} get{{ field.upperName }}(){
        return this.{{ field.name }};
    }{% endif %}{% endfor %}
}
