<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<div class="form-dialog">
    <div class="box box-info">
        <div class="box-header ">
            <h3 class="box-title">新增{{ title }}</h3>
        </div>
        <form id="add{{ className }}Form" class="form-horizontal" role="form">
            <div class="box-body">
                {% for field in fields %}{% if  field.addField    %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ field.title }}：</label>
                    <div class="col-sm-9">
                        <input type="text" name="{{ field.name }}" class="form-control {% if field.type=='Date' %}form_datetime{% endif %}" placeholder="{{ field.patternMessage }}">
                    </div>
                </div>
                {%- endif -%}
                {% endfor %}
            </div>
            <div class="box-footer">
                <a id="save{{ className }}" class="btn btn-info pull-right">保存</a>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $("#add{{ className }}Form .form_datetime").datetimepicker({format: 'yyyy-mm-dd'});
    </script>

</div>


