
<%@ page contentType="text/html;charset=UTF-8" import="{{ package }}.{{ className }}" language="java" %>
<%@ taglib prefix="shiro" uri="http://shiro.apache.org/tags" %>
<html>
<head>
    <title>{{ title }}管理</title>
    <%@include file="../../common.jsp" %>
</head>
<body>


<div class="container-fluid ">
    <h3>{{ title }}列表</h3>

    <div class="row-fluid ">
        <div class="span12 search-form">
            <form id="form" class="form-horizontal" role="form">
                <div class="form-group">
                {% for field in fields %}{% if  field.searchFieldType!=""  %}
                    <label class="col-sm-1 control-label" for="{{ field.name }}">{{ field.title }}：</label>
                    <div class="col-sm-2">
                        <input class="form-control" id="{{ field.name }}" name="{{ field.name }}" type="text" placeholder="{{ field.title }}"/>
                    </div>
                {% endif %} {% endfor %}
                    <div class="col-sm-1">
                            <button type="button" class="btn btn-primary" id="search"
                                    data-toggle="button"><span class="glyphicon glyphicon-search"></span>搜索
                            </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="span12">
            <div id="toolbar" class="btn-group">
                <shiro:hasPermission name="{{ path }}:add:index">
                    <a role="button" id="add{{ className }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-plus"></i>添加{{ title }}
                    </a>
                </shiro:hasPermission>

                <shiro:hasPermission name="{{ path }}:deleteBatch">
                    <a href="#add{{ className }}Modal" role="button" class="btn btn-default" id="deleteBatchButton">
                        <i class="glyphicon glyphicon-trash"></i>批量删除
                    </a>
                </shiro:hasPermission>
            </div>
            <table id="{{ sClassName }}Table"></table>
        </div>
    </div>
</div>





<%@include file="../../common_script.jsp" %>
<script>

    var bt;
    var {{ sClassName }}ValidConfig={
    {% for field in fields %}{% if  field.required  or  field.pattern != ""  %}
        {{ field.name }}:{
            rule:{
                required:{% if field.required %}true{% else %}false{% endif %},
                {% if field.pattern != "" %}{{ field.name}}Valid:true {% endif %}
            },
            message:{
                required:'{{ field.requiredMessage }}'
            }
        }{% if not loop.last %},{% endif %}{% endif %}{% endfor %}
    };
    $(function () {
    {% for field in fields %}{% if field.pattern != ""  %}
    jQuery.validator.addMethod("{{ field.name}}Valid", function(value,element) {
        var p =/<%={{ className }}.{{ field.dbField }}_PATTERN%>/;
        return p.test(value);
    }, "<%={{ className }}.{{ field.dbField }}_PATTERN_MESSAGE%>");{% endif %}{% endfor %}

    var params = {
            url: '/{{ sClassName }}/grid',
            queryParams: function (params) {
                var temp = {
                    pageSize: params.limit,   //页面大小
                    pageNum: params.offset / params.limit + 1,  //页码
                    sort: params.sort,  //排序列名
                    sortOrder: params.order//排位命令（desc，asc）
                };
                return $.extend(temp, $('#form').serializeObject());
            },
            columns: [
                {checkbox: true},
                 {% for field in fields %}{% if  field.gridShow  %}
                {title: '{{ field.title }}', field: '{{ field.name }}', align: 'center'{% if  field.sort  %},sortable: true{% endif %}, width: '100'},{% endif %}
                {% endfor %}
                {
                    title: '操作', field: 'opt', align: 'center', width: '120', formatter: function (index, row) {
                    var opts = "";
                    <shiro:hasPermission name="{{ path }}:get">
                        opts += "<a href='javascript:void(0);' class='btn btn-xs' onclick=\"detail{{ className }}(\'" + row.id + "\')\">查看</a>|";
                    </shiro:hasPermission>
                    <shiro:hasPermission name="{{ path }}:edit:index">
                        opts += "<a href='javascript:void(0);' class='btn btn-xs' onclick=\"edit{{ className }}(\'" + row.id + "\')\">编辑</a>|";
                    </shiro:hasPermission>
                    <shiro:hasPermission name="{{ path }}:delete">
                        opts += "<a href='javascript:void(0);' class='btn btn-xs' onclick=\"delete{{ className }}(\'" + row.id + "\')\">删除</a>";
                    </shiro:hasPermission>
                    return opts;
                }
                }
            ]
        };
        bt = anchor.bootstrapTable("{{ sClassName }}Table", params);
        $('#search').click(function () {
            bt.bootstrapTable('refresh');
        });
        //回车事件绑定
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) {
                $('#search').click();
            }
        };

        $('#add{{ className }}').click(function () {
            var addFormId = "add{{ className }}Form";
            var addDialog = $.dialog({
                title: '',
                content: 'url:/{{ sClassName }}/add',
                columnClass:'medium',
                onContentReady:function(){
                    var validateConfig =anchor.validFieldConfig({{ sClassName }}ValidConfig,anchor.formField(addFormId));
                    validateConfig['id']= addFormId;
                    var valid = anchor.validate(validateConfig);
                    $('#save{{ className }}').click(function () {
                        if(valid.form()){
                            <shiro:hasPermission name="auth:{{ sClassName }}:add">
                                anchor.request("/{{ sClassName }}/add", $('#'+addFormId).serializeObject(), function (data) {
                                if(data.code==1){
                                    bt.bootstrapTable('refresh');
                                    anchor.alert("保存成功");
                                    addDialog.close();
                                }
                                else{
                                    anchor.alert(data.message);
                                }
                            }, null);
                            </shiro:hasPermission>

                        }
                    });
                }

            });
        });

        /**
         * 批量删除操作
         *
         */
        $('#deleteBatchButton').click(function () {

            var ids = $.map(bt.bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
            if (ids.length == 0) {
                anchor.alert("请选择删除数据");
                return;
            }
            anchor.confirm("确定要删除【" + ids.length + "】条数据么？", function () {
                anchor.request("/{{ sClassName }}/deleteBatch", {ids: ids}, function (data) {
                    bt.bootstrapTable('refresh');
                }, null);
            });

        });

    });
    /**
     * 详情
     */
    function detail{{ className }}({{ sClassName }}Id) {
        $.dialog({
            title: '',
            content: 'url:/{{ sClassName }}/edit/'+{{ sClassName }}Id,
            type:'blue',
            columnClass:'medium',
            onContentReady:function(){

            }
        });
    }
    /**
     * 删除
     */
    function delete{{ className }}({{ sClassName }}Id) {
        anchor.confirm("确认要删除该用户么?", function () {
            anchor.request("/{{ sClassName }}/delete/"+{{ sClassName }}Id, {}, function (data) {
                anchor.alert(data.message);
                bt.bootstrapTable('refresh');
            }, null);
        });
    }
    /**
     * 编辑
     */
    function edit{{ className }}({{ sClassName }}Id) {
        var editFormId = "edit{{ className }}Form";
        var dialog = $.dialog({
            title: '',
            content: 'url:/{{ sClassName }}/edit/'+{{ sClassName }}Id,
            columnClass:'medium',
            onContentReady:function(){
                var validateConfig =anchor.validFieldConfig({{ sClassName }}ValidConfig,anchor.formField(editFormId));
                validateConfig['id']= editFormId;
                var valid = anchor.validate(validateConfig);
                $('#edit{{ className }}').click(function () {
                    if(valid.form()){
                        anchor.request("/{{ sClassName }}/edit", $('#'+editFormId).serializeObject(), function (data) {
                            bt.bootstrapTable('refresh');
                            anchor.alert("保存成功");
                            dialog.close();
                        }, null);
                    }
                });
            }
        });
    }
</script>
</body>
</html>
