<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="{{ mapperPackage }}.{{ mapperClass }}">

	<sql id="{{ sClassName }}Columns">
        {% for field in dbFields %}{{ sClassName }}.{{ field.dbField }} as {{ field.name }}{% if not loop.last %},{% endif %}{% endfor %}
	</sql>

	<!-- 修改 -->
	<update id="update" parameterType="{{ sClassName }}">
		update {{ table }}
		<set>
			{% for field in dbFields %}
			<if test="{{ field.name }} != null">
				{{ field.dbField }} = #{ {{ field.name }} },
			</if>{% endfor %}

		</set>
		where ID = #{id}
	</update>


	<insert id="insert" parameterType="{{ sClassName }}">
		INSERT INTO {{ table }}(
			{% for field in dbFields %}{{ field.dbField }}{% if not loop.last %},{% endif %}{% endfor %}
		)
		VALUES(
			{% for field in dbFields %}#{ {{ field.name }} }{% if not loop.last %},{% endif %}{% endfor %}
		)
	</insert>


	<delete id="delete" parameterType="java.lang.Long">
			DELETE FROM {{ table }} where id = #{id}
	</delete>


	<!-- 根据主键获取 -->
	<select id="get" parameterType="java.lang.Long" resultType="{{ sClassName }}">
		SELECT
		<include refid="{{ sClassName }}Columns" />
		FROM  {{ table }} {{ sClassName }}
		where id = #{ id }
	</select>

	<!-- 获取列表 -->
	<select id="getList"  resultType="{{ sClassName }}">
		select
		<include refid="{{ sClassName }}Columns" />
		from {{ table }} {{ sClassName }}
	</select>

	<select id="getListByFilter" parameterType="com.anchor.core.common.dto.QueryFilter"  resultType="{{ sClassName }}">
		select
		<include refid="{{ sClassName }}Columns" />
		from {{ table }} {{ sClassName }}
	</select>

</mapper>