<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" id="configSave" data-loading-text="保存中..." class="btn btn-default"
                            aria-label="Left Align">
                        <span class="glyphicon glyphicon-saved t" aria-hidden="true"></span>保存
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Center Align">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>刷新
                    </button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" aria-label="Right Align">
                            版本对比 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <textarea id="{{ codeId }}_t_config_textarea"></textarea>
        </div>

    </div>

</div>
<script type="text/javascript">
    var {{ codeId }}_t_config_editor;
    var templateConfigTextareaId = "{{ codeId }}_t_config_textarea";
    $frame.generate_config_pane_init = function () {
        {{ codeId }}_t_config_editor = CodeMirror.fromTextArea(document.getElementById(templateConfigTextareaId), {
            mode: "properties",
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true
        });
        $.get("/module/static/{{ ctx.code }}/module.ini?_t=" + Date.now(), function (data) {
            {{ codeId }}_t_config_editor.setValue(data);
        });
        $("#configSave").on('click', function () {
            var $btn = $(this).button('loading');
            editConfig("{{ ctx.code }}", {{ codeId }}_t_config_editor.getValue(), function () {
                $btn.button("reset");
            });
        })
    };
</script>




