<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for tmpl in ctx.templateList %}
        <div class="panel panel-default" id="{{ tmpl.alias }}_panel">
            <div class="panel-heading" role="tab" id="{{ tmpl.alias }}_head">
                <a role="button" id="{{ tmpl.alias }}_save_btn">
                    <span class="glyphicon glyphicon-saved " aria-hidden="true"></span>
                </a>
                <a role="button">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </a>

                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#{{ tmpl.alias }}_panel_content" aria-expanded="true" aria-controls="collapseOne">
                    <i class="lnr lnr-chevron-up"></i>{{ tmpl.name }}{% if tmpl.moduleCode != ctx.code %} [{{ tmpl.moduleCode }}]{% endif %}
                </a>

            </div>
            <div id="{{ tmpl.alias }}_panel_content" class="panel-collapse collapse in " role="tabpanel"
                 aria-labelledby="{{ tmpl.alias }}_head">
                <textarea id="{{ tmpl.alias }}_template_textarea"></textarea>
            </div>
        </div>
    {% endfor %}

</div>


<script type="text/javascript">

    {% for tmpl in ctx.templateList %}

        var {{ tmpl.alias }}TextareaId = "{{ tmpl.alias }}_template_textarea";
        var {{ tmpl.alias }}_t_editor;
        $('#{{ tmpl.alias }}_panel_content').on('hidden.bs.collapse', function () {
            $('#{{ tmpl.alias }}_panel').find('.lnr-chevron-up').removeClass("lnr-chevron-up").addClass("lnr-chevron-down");
        });
        $('#{{ tmpl.alias }}_panel_content').on('show.bs.collapse', function () {
            $('#{{ tmpl.alias }}_panel').find('.lnr-chevron-down').removeClass("lnr-chevron-down").addClass("lnr-chevron-up");
        });
        $('#{{ tmpl.alias }}_save_btn').click(function () {
            templateEditConfirm(this, {"editor":{{ tmpl.alias }}_t_editor,"name":"{{ tmpl.name }}","moduleCode":"{{ tmpl.moduleCode }}"});

        });
    {% endfor %}

    function templateEditConfirm(obj, params) {
        var $btn = $(obj).button('loading');
        if (params.moduleCode != "{{ ctx.code }}") {
            $frame.dialogConfirm({
                "title": params.name + "保存",
                content: "当前文件 " + params.name + "属于【" + params.moduleCode + "】修改还是在当前模块新增？",
                update: function () {
                    editTemplate(params.moduleCode, params.name, params.editor.getValue(), function () {
                        $btn.button("reset");
                    });
                },
                add: function () {
                    editTemplate("{{ ctx.code }}", params.name, params.editor.getValue(), function () {
                        $btn.button("reset");
                    });
                },
                close: function () {
                    $btn.button("reset");
                }
            });
        }
        else {
            editTemplate("{{ ctx.code }}", params.name, params.editor.getValue(), function () {
                $btn.button("reset");
            });
        }
    }

    $frame.generate_template_pane_init = function () {
        {% for tmpl in ctx.templateList %}
            {{ tmpl.alias }}_t_editor = CodeMirror.fromTextArea(document.getElementById({{ tmpl.alias }}TextareaId), {
                mode: "jinja2",
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true
            });
            $.get("/module/static/{{ tmpl.moduleCode }}/template/{{ tmpl.name }}?_t=" + Date.now(), function (data) {
                {{ tmpl.alias }}_t_editor.setValue(data);
                {% if loop.index0>0 %}
                    $('#{{ tmpl.alias }}_panel_content').collapse('hide');
                {% endif %}
            }, "text");

        {% endfor %}
    }

</script>